/* Default size for large screens */
.logo-img {
  width: 40vw;
}

/* Make the logo larger on smaller screens (mobile-first approach) */
@media (max-width: 768px) {
  .logo-img {
      width: 60vw; /* Increase logo size on smaller screens */
  }
}

@media (max-width: 576px) {
  .logo-img {
      width: 80vw; /* Further increase logo size on extra small screens */
  }
}